ol, ul {
    list-style: none;
}
#MainMenu {
    margin: 10px;
    width: 900px;
    font-family: sans-serif;
}
#MainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}
#MainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}
#MainMenu a:hover {
	background-color:#009;
	color:#fff;
}

h1 {
    text-align: center;
}

#covid 
{padding-top: 2cm;}

#kansas {padding-top: 2cm;}

#house
{float: left;
margin: 10px;}

#sun
{float: left;
margin: 10px;}

#lobster
{float: left;
margin: 10px;}

#mountain
{float: left;
margin: 10px;}

#flint
{float: left;
margin: 10px;}





