#one {
    background-color: #f5c6d6 ;
    padding: 50px;
    height: 50px;
    margin:50px;
   
}
#two { background-color: #ee2e84;
    padding: 50px;
    height: 50px;
    margin:50px;
}
#three{ background-color: #ee2e84;
    padding: 50px;
    height: 50px;
    margin:50px;
}
#four {
    background-color: #ee2e84;
    padding: 50px;
    height: 50px;
    margin:50px;
}
#five{
    background-color: #ee2e84;
    padding: 50px;
    height: 50px;
    margin:50px;
}
#six{
    background-color: #85cfd8;
    padding: 50px;
    height: 50px;
    margin:50px;
}

#seven{
    background-color: #85cfd8;
    padding: 50px;
    height: 50px;
    margin:50px;
}
#eight{
    background-color: #8dc63f;
    padding: 50px;
    height: 50px;
    margin:50px;
}

#nine{
    background-color: #e76e34;
    padding: 50px;
    height: 50px;
    margin:50px;
}